@font-face {
    font-family: 'TTOctosquaresCond-XLight, Regular';
    src: url('../../fonts/TTOctosquaresCond-XLight.ttf');
}

:root {
    --main-color: #65579C;
    --dark-color: #443B69;
    --black-color: #3f3c3c;
    --light-color: #CEC8E8;
    --contrast-color: #6a5f8e;

    --secondary-color: #E8D099;
    --tertiary-color: #BFE86B;

    --font-primary: 'Inconsolata', 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
    --font-code: 'IBM Plex Mono', Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;
    --font-logo: 'TTOctosquaresCond-XLight, Regular', 'Inconsolata';

    /* Colors */
    --color-back: #fff;
    --color-front: #1a1e24;
    --color-subtle: #dfdfdf;
    --color-paper: #fff;

    --color-red-text: hsl(346, 84%, 45%);
    --color-red-transparent: hsla(346, 84%, 61%, 0.11);
    --color-green-text: hsl(108, 66%, 38%);
    --color-green-transparent: hsla(108, 66%, 63%, 0.11);

    /* Theme */
    --color-theme-dark: #443B69;
    --color-theme-base: #65579C;
    --color-theme-smooth: #CEC8E8;
    --color-theme-dark-subtle: #6a5f8e;
    --color-theme-contrast: #fff;

    --color-theme-primary: #65579C;
    --color-theme-primary-light: #E8D099;

    --color-theme-secondary: #BFE86B;

    --color-code: rgba(240, 239, 249, 0.9);
    --color-theme-gradient-light: linear-gradient(to right, var(--color-theme-primary-light), var(--color-theme-secondary));
    --color-theme-gradient-dark: linear-gradient(to right, #c33a8a, #ff5da2);

    --color-default-light: rgba(240, 239, 249, 0.9);
    --color-default-medium: #483597;
    --color-default-code: #eae5f9;

    --color-warning-light: hsl(46, 100%, 95%);
    --color-warning-medium: hsl(45, 90%, 55%);
    --color-warning-code: hsla(44, 100%, 97%, 0.151);

    --color-danger-light: hsl(355, 100%, 96%);
    --color-danger-medium: hsl(346, 84%, 61%);
    --color-danger-code: hsl(355, 100%, 98%);
}

::-moz-selection { /* Code for Firefox */
    color: var(--black-color);
    background: var(--light-color);
  }

  ::selection {
    color: var(--black-color);
    background: var(--light-color);
  }

body {
    font-family: var(--font-primary) !important;
    color: #777;
}

textarea {
   resize: none;
}

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 99;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 11.5rem;
        padding: 0;
    }
}

.navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
    .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
    }
}

.sidebar .nav-link {
    color: var(--color-theme-base);
}

.sidebar li .submenu{
	list-style: none;
	margin: 0;
	padding-left: 4rem;
	padding-right: 1rem;
}

.add-collection {
    border: solid 1px var(--secondary-color);
    background: var(--secondary-color);
    color: var(--color-theme-base);
    text-decoration: none;
}

.add-collection:hover {
    color: inherit;
}

.logo img {
  padding: 0;
  margin: 0;
  max-height: 40px;
}

.beauty-link {
    border: solid 1px var(--color-theme-smooth);
    background: var(--color-theme-smooth);
    color: var(--color-theme-base);
    text-decoration: none;
}



#editor {
    background: #f6f6f6;
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    height: 600px;
}

#readonly-editor {
    background: #f6f6f6;
    display: block;
    width: 100%;
    min-height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    height: 600px;
}


.document-list {
    padding-top: 5%;
}

.btn-inactive{
    display: none;
}
