{% extends 'site_template.html' %}

{% block body %}
    <div id="page-wrapper">

        <div class="container-fluid">

            <!-- Page Heading -->
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">
                        <span>Integrations</span>
                        <button class="btn-delete-coll btn btn-success pull-right"
                                data-url="/">Save
                        </button>
                    </h1>
                    {% with messages = get_flashed_messages() %}
                        {% if messages %}
                            {% for message in messages %}
                                {% if '[ERROR]' in message %}
                                    <div class="alert alert-danger" role="alert">
                                        {{ message }}
                                    </div>
                                {% else %}
                                    <div class="alert alert-info" role="alert">
                                        {{ message }}
                                    </div>
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% endwith %}
                    foo
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block footer %}

{% endblock %}